/* body {
    background-color:
} */


.container {
    text-align: center;
    margin-top: 10%;
}

table {
    margin: auto;
    
}

input {
    font-size: 2.0em;
    border: 1px solid black;
    margin-bottom: 3%;
}

button {
    font-size: 1.2em;
    background-color: rgb(224, 224, 224);
    width: 72px;
    height: 45px;
}

.inputs {
    display: inline-block;
    border: 1px solid black;
    padding: 2%;
    background-color: rgb(172, 172, 172);
}

